{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}
{% block menu %}Profile - {{ user.username }}{% endblock %}

{% block body %}
<div class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="image-logo">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="{{ user.gravatar }}">
              <h5 class="title">{{ user.get_full_name }}</h5>
            </a>
            <p class="description">
              {{ user.email }}
            </p>
            <span class="badge badge-pill badge-primary">{{ user.get_role }}</span>
          </div>

        </div>
        <div class="card-footer">
          <div class="button-container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-6 ml-auto">
                <h5>Member Since</h5>
                <p><small>{{ user.date_joined }}</small></p>
              </div>
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                <h5>Last Active</h5>
                <p><small>{{ user.last_login }}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      {% include "_messages.html" %}
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form class="form-horizontal" method="post">
            {% csrf_token %}
              {% include "_macros.html" %}

            <hr>
            <a class="btn btn-warning btn-round float-left" href="javascript:history.back()">Back</a>
            <button class="btn btn-info btn-round float-right" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


