{% for field in form %}
<div class="row">
	<label class="col-md-4 col-form-label">
    {{ field.label }}:
    {% if field.help_text %}
    <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="top" title="{{ field.help_text }}"></i>
    {% endif %}
  </label>
  <div class="col-md-8">
  {% if field.errors %}
    <div class="form-group has-label has-danger text-danger">
      {{ field }}
      <label id="error" class="error">{{ field.errors }}</label>
  {% else %}
    <div class="form-group has-label">
      {{ field }}
  {% endif %}
    </div>
  </div>
</div>
{% endfor %}