{% extends 'admin/base.html' %}
{% block title %}Admin{% endblock %}
{% block menu %}Admin{% endblock %}


{% block body %}
<div class="section">
    <div class="col-md-6 ml-auto mr-auto">
        <div class="card">
          <div class="card-header">
            <h5>Applications</h5>
          </div>
          <div class="card-body">
            {% if app_list %}
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul id="tabs" class="nav nav-tabs" role="tablist">
                {% for app in app_list %}
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#{{ app.name }}" role="tab">{{ app.name }}</a>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
            <div id="my-tab-content" class="tab-content text-center">
              {% for app in app_list %}

              {% for model in app.models %}
              <tr class="model-{{ model.object_name|lower }}">
              {% if model.admin_url %}
                  <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
              {% else %}
                  <th scope="row">{{ model.name }}</th>
              {% endif %}
  
              {% if model.add_url %}
                  <td><a href="{{ model.add_url }}" class="addlink">Add</a></td>  
              {% else %}
                  <td>&nbsp;</td>
              {% endif %}
  
              {% if model.admin_url %}
                  {% if model.view_only %}
                  <td><a href="{{ model.admin_url }}" class="viewlink">View</a></td>
                  {% else %}
                  <td><a href="{{ model.admin_url }}" class="changelink">Change</a></td>
                  {% endif %}
              {% else %}
                  <td>&nbsp;</td>
              {% endif %}
              </tr>
              {% endfor %}



              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>

</div>
{% endblock %}